.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    animation: marquee 10s linear infinite; /* Adjust duration as needed */
    position: absolute;
    top: 0;
    left: 0;
}



@keyframes marquee {
    0% {
        transform: translateX(-100%) scaleY(3);
    }
    100% {
        transform: translateX(100%) scaleY(3);
    }
}