---
layout: base.njk
title: Shop
activePage: shop
permalink: /shop/
---

<div class="postPage">
    <div class="postTitleContain"><p class="postPageTitle">SHOP</p></div>
    <div class="postPagePara">
        <p>PRINTS AND MERCHANDISE AVAILABLE</p>
        <p>VISIT THE SHOP TO PURCHASE ARTWORK PRINTS</p>
    </div>
    <div class="shop-iframe-container">
        <iframe 
            src="https://erinoisidorionline.bigcartel.com" 
            width="100%" 
            height="800" 
            frameborder="0"
            class="shop-iframe"
            title="BigCartel Shop">
        </iframe>
    </div>
    <div class="postPagePara">
        <p><a href="https://erinoisidorionline.bigcartel.com" target="_blank" style="color: #FCBE11; text-decoration: underline;">OPEN SHOP IN NEW TAB →</a></p>
    </div>
</div>

