---
layout: layout.html
---
{% assign previousPost = collections.art | getPreviousCollectionItem %}
{% assign nextPost = collections.art | getNextCollectionItem %}


{% if wrap == false %}
{{content}}
{% else %}

<div id="main-wrapper" class="card-full">
    <article class="card">
        <nav class="header-nav">
            <h2 class="text-big">{{ title }}</h2>
            <p class="text-big">{{date | shortDate}}</p>
            <!--            {%if previousPost.url == '' %}-->
            <!--            {%else%}-->
            <!--            <a id="nav-previous" class="text-big" href="{{ previousPost.url }}">◅</a>-->
            <!--            {%endif%}-->
            {% if previousPost.url != '' %}
            <a id="nav-previous" class="text-big" href="{{ previousPost.url }}">◅</a>
            {%endif%}
            {% if nextPost.url != '' %}
            <a id="nav-next" class="text-big" href="{{ nextPost.url }}">▻</a>
            {%endif%}
            <a id="nav-back" class="text-big" href="/blog">BACK</a>
        </nav>
        <div class="content text-big">
            {{ content }}
        </div>
    </article>
</div>
{% endif %}
