---
layout: layout.html
---
{% assign previousPost = collections.art | getPreviousCollectionItem %}
{% assign nextPost = collections.art | getNextCollectionItem %}


{% if wrap == false %}
{{content}}
{% else %}

<div id="main-wrapper" class="card-full">
    <article class="card">
        <nav class="header-nav">
            <div class="nav-text">
                {% if previousPost.url != '' %}
                <a id="nav-previous" class="text-big" href="{{ previousPost.url }}">◅</a>
                {%endif%}

                <h2 class="text-big">{{ title }}</h2>

                {% if nextPost.url != '' %}
                <a id="nav-next" class="text-big" href="{{ nextPost.url }}">▻</a>
                {%endif%}
            </div>
            <div class="nav-links">
                {% if backUrl != '' %}
                <a id="nav-back" class="text-big" href="{{ backUrl }}">BACK</a>
                {% endif %}
                <p class="text-big">{{date | shortDate}}</p>
                <p class="text-big"></p>
            </div>
        </nav>

        {% if image %}
        <div id="article-image-wrapper" class="article-image-wrapper">
            <img class="article-image" src="{{ image }}"/>
        </div>
        {% endif %}
        <div class="content text-big">
            {{ content }}
        </div>
    </article>
</div>
{% endif %}
