---
layout: page.html
---

<section class="card-grid">
    {% for post in collections[collection] %}
        {% if post in collections.published %}
            <article class="card clickable hover">
                <h2 class="text-big"><a href="{{post.url}}">{{ post.data.title }}</a></h2>
                <p class="text-big">
                    <span class="post-type">{{ post.data.type }}</span>
                    <span class="post-date">{{ post.date | shortDate }}</span>
                </p>
                <div class="card-image">
                    <img src="{{post.data.image}}"/>
                </div>
            </article>
        {%endif%}
    {% else %}
    <article class="card">
        <h2>Empty!</h2>
        <p>Nothing is here yet :(</p>
    </article>
    {% endfor %}
</section>