---
title: erino isidori!
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erino Isidori - Home</title>

    <link href="/assets/styles/base.css" rel="stylesheet">
    <link href="/assets/styles/elements.css" rel="stylesheet">
    <link href="/assets/styles/tape.css" rel="stylesheet">
    <link href="/assets/styles/resets.css" rel="stylesheet">
    <link href="/assets/styles/mobile.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<input id="header-checkbox" type="checkbox"/>
<label class="header-checkbox" for="header-checkbox"></label>
<div class="layout-wrapper">
    <section aria-hidden="true" class="fullscreen-image-viewer">
        <img id="fullscreen-image" src="/assets/art/watertower.png"/>
        <nav>
            <h2 id="image-title"></h2>
            <h2 id="image-date"></h2>
            <button id="image-save">save</button>
            <button id="image-share">share</button>
            <button id="image-exit">exit</button>
        </nav>
    </section>
    <header>
        <div class="header-control">
            <img class="header-toggle" src="/assets/svg/icon/bars-solid.svg"/>
            <h1 class="header-text text-big">TAP HERE</h1>
            <div class="header-spacer"></div>
        </div>
    </header>
    <nav>
        <img class="icon"
             alt="the insignia of erino isidori, online..."
             src="/assets/svg/page-header.svg"/>
        <div class="nav-group">
            <a class="nav-item text-big" href="/about">ABOUT</a>
            <a class="nav-item text-big" href="/blog">BLOG</a>
        </div>
        <div class="nav-group">
            <a class="nav-item text-big" href="/works">WORK</a>
        </div>
        <div class="nav-group">
            <a class="nav-item text-big disabled">RESUME</a>
            <a class="nav-item text-big disabled">CONTACT</a>
        </div>
        <div class="nav-group">
            <a class="nav-item text-big" href="/">HOME</a>
        </div>
    </nav>
    <div class="tape-grid">
        <div class="main-wrapper">
            <main id="main-content">
                {{ content }}
            </main>
        </div>
        <div aria-hidden="true" class="tape-container">
            <div class="tape" aria-hidden="true">
                {% for char in ticker.line %}

                {% endfor %}
            </div>
            <div class="tape" aria-hidden="true">
            </div>
            <div class="tape vertical" aria-hidden="true">
            </div>
        </div>
    </div>
    <script src="/assets/scripts/app.js" defer></script>
</div>
</body>

</html>