---
title: erino isidori!
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erino Isidori - Home</title>

    <link href="/assets/styles/base.css" rel="stylesheet">
    <link href="/assets/styles/elements.css" rel="stylesheet">
    <link href="/assets/styles/tape.css" rel="stylesheet">
    <link href="/assets/styles/resets.css" rel="stylesheet">
    <link href="/assets/styles/mobile.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<input id="header-checkbox" type="checkbox"/>
<label class="header-checkbox" for="header-checkbox"></label>
<div class="layout-wrapper">


    <header id="site-header">
        <div class="header-control">
            <img class="header-toggle" src="/assets/svg/icon/bars-solid.svg"/>
            <h1 class="header-text text-big">TAP HERE</h1>
            <div class="header-spacer"></div>
        </div>
    </header>


    <nav id="site-nav" class="header-content">
        <img class="icon"
             alt="the insignia of erino isidori, online..."
             src="/assets/svg/page-header.svg"/>
        <div class="nav-group">
            <a class="nav-item text-big" href="/about">ABOUT</a>
            <a class="nav-item text-big" href="/blog">BLOG</a>
        </div>
        <div class="nav-group">
            <a class="nav-item text-big" href="/works">WORK</a>
        </div>
        <div class="nav-group">
            <a class="nav-item text-big" href="/resume">RESUME</a>
            <a class="nav-item text-big" href="/contact">CONTACT</a>
        </div>
        <div class="nav-group">
            <a class="nav-item text-big" href="/">HOME</a>
        </div>
    </nav>
    <main id="site-main">
        <div class="tape-wrapper">
            <div class="tape" aria-hidden="true">
                <div class="tape-wrapper">
                    <div class="tape-inner">
                        <p class="erinoText stroke-sm"> <3 VISITING FOR YOU THANK WEBSITE ISIDORI'S ERINO IS THIS YOU
                            ARE HOW
                            HIII</p>
                    </div>
                </div>
            </div>
            <div class="tape" aria-hidden="true">
                <div class="tape-wrapper">
                    <div class="tape-inner">
                        <p class="erinoText stroke-sm">MAYBE THIS TIME WE CAN GET IT RIGHT</p>
                    </div>
                </div>
            </div>
            <div class="tape vertical" aria-hidden="true">
                <div class="tape-wrapper">
                    <div class="tape-inner">
                        <p class="erinoText stroke-sm">EVERYTHING ALL THE TIME IS SUBJECT TO CHANGE WHETHER YOU AND I
                            LIKE IT OR
                            NOT. FIND BEAUTY IN CHANGE AND NOT BITTERNESS. THE TWENTY TWENTIES ARE FOR BRINGING BACK
                            LOVE AND WE
                            KEEP BUILDING IT FOREVER</p>
                    </div>
                </div>
            </div>
            <div id="main-content">
                {{ content }}
            </div>
        </div>
    </main>

    <script src="/assets/scripts/app.js" defer></script>
</div>
</body>

</html>