:root {
    /* palette */
    --white: white;
    --gray: #d9d9d9;
    --green: #104626;
    --beige: antiquewhite;

    /* borders */
    --border-colour: var(--green);
    --border-thin-size: 20px;
    --border-thick-size: 20px;

    --border-thin: var(--border-thin-size) solid var(--green);
    --border-thick: var(--border-thick-size) solid var(--green);

    /* backgrounds */
    --background-main: var(--white);
    --background-alt: var(--gray);

    --mobile-transition-speed: 0.5s;

    --pullout-collapsed-width: 2rem;
    --pullout-hidden-width: 0px;

    --nav-collapsed-width: 0px;
    --nav-hidden-width: 0px;
    --nav-full-width: 25vw;

    /* yellow text */

    & .text-big {
        color: #FCBE11;
        -webkit-text-stroke-width: 0.1vw;
        -webkit-text-stroke-color: #104626;

        font-family: "Times New Roman";
        font-weight: bold;
        font-style: italic;

        --shadow: #0000EE 3px 3px 1px
    }

    /* yellow text - link support */

    & a.text-big {
        text-decoration: none;
        transition: text-shadow 0.2s ease-in;
    }

    /* link hover shadow */

    & a:hover, & s.link-active {
        text-shadow: var(--shadow, none);
    }

    & .hamburger {
        width: 100%;
        cursor: pointer;
        aspect-ratio: 1 / 1;
        border: none;
        position: relative;
    }

    & input[type="checkbox"]#header-checkbox {
        display: none;
        visibility: hidden;
    }
}

/* CSS border transition shit */
* {
    transition: border-bottom-width 0.5s ease-in-out,
    border-top-width 0.5s ease-in-out,
    border-left-width 0.5s ease-in-out,
    border-right-width 0.5s ease-in-out;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;

    background-color: var(--gray);
}

.layout-wrapper {
    --pullout-width: var(--pullout-hidden-width);
    --nav-width: var(--nav-full-width);

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: var(--pullout-width) var(--nav-width) 1fr;
    grid-template-rows: 1fr;

    transition: grid-template-columns var(--mobile-transition-speed) ease;

    border: var(--border-thin);

    overflow: hidden;

    & > header,
    & > nav,
    & > div {
        width: 100%;
        height: 100%;
        min-height: 0;
        min-width: 0;
    }

    & > header {
        grid-row: 1;
        grid-column: 1;

        position: relative;

        display: flex;
        flex-direction: column;

        overflow-x: hidden;

        transition: background-color 0.3s ease-in-out;

        & .header-control {
            opacity: 0;
            transition-delay: 2s, 0s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.2s ease,
            transform var(--mobile-transition-speed) ease;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        & .header-toggle {
            opacity: 0;
            height: min-content;
            width: 100%;
        }

        & .header-toggle::after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 2;
            content: "";
            background-image: url("/assets/svg/icon/bars-solid.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        & .header-text {
            /*height: 100%;*/
            /*width: 100%;*/
            width: 100%;
            font-size: 2rem;
            padding-left: 0.6rem;
            font-weight: bolder;
            writing-mode: vertical-rl;
            -webkit-text-stroke: unset;
        }

        & .header-content {
            opacity: 1;
            transition: opacity var(--mobile-transition-speed) ease-in-out;
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            & .icon {
                height: min-content;
                background-color: var(--gray);
                border-bottom: var(--border-thin);
            }

        }
    }

    & > nav {
        grid-row: 1;
        grid-column: 2;

        --nav-gap: 1rem;

        background-color: var(--white);
        transition: background-color var(--mobile-transition-speed) ease-in-out;
        height: 100%;
        border-right: var(--border-thin);

        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .icon {
            border-bottom: var(--border-thin);
            background-color: var(--gray);
            object-fit: cover;
            width: 100%;
            height: fit-content;
            padding: 0.75rem;
        }

        & .nav-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-inline: var(--nav-gap);
        }

        & .nav-item {
            display: block;
            height: min-content;
            transition: font-size var(--mobile-transition-speed) ease;
            font-size: calc(1.25vw + 0.65rem);
            position: relative;
        }

        & .nav-item.disabled {
            --shadow: unset;
        }

        & .nav-item.disabled::after {
            position: absolute;
            content: "SINISTER OPTION";
            font-size: 1.25rem;
            text-align: center;
            -webkit-text-stroke-color: transparent !important;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%) rotate(15deg);
            color: inherit;
            background-color: black;
            padding-block: 0.25rem;
            padding-inline: 1rem;
        }

        & .nav-group:nth-of-type(2), & .nav-group:nth-of-type(4) {
            justify-content: center;
        }

        & .nav-active {
            position: relative;
        }
    }

    & > div {
        /*width: 100%;*/
        /*height: 100%;*/

        /*display: flex;*/
        /*flex-direction: column;*/
        /*overflow-y: scroll;*/

        & .main-wrapper {
            width: 100%;
            height: 100%;

            overflow-y: scroll;
            overflow-x: clip;
        }

        & #main-content {
            display: flex;
            flex-direction: column;
            height: min-content;
        }
    }
}

/*#site-main {*/
/*    grid-column: 3;*/
/*    grid-row: 1 / -1;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*#main-content {*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    grid-column: -0 / 2 !important;*/
/*    grid-row: 2 !important;*/

/*    display: flex;*/
/*    flex-direction: column;*/

/*    overflow: hidden;*/
/*}*/

/*#site-header {*/
/*}*/


/*#site-nav {*/
/*}*/