.page-title {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    opacity: 1;
    text-shadow: rgba(0, 0, 0, 0.25) 3px 3px 0px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    padding: 2rem;
    padding-inline: 5rem;
    gap: 2rem;
    column-gap: 3rem;

    & .card {
        /** !!!! **/
        /** NOTE FOR FUTURE - YOU *NEED* MIN-WIDTH/HEIGHT: 0 FOR GRID CHILDREN, OR THEY WILL OVERFLOW !!!! **/
        min-width: 0;
        min-height: 0;

        width: 100%;
        aspect-ratio: 1 / 1;
    }
    /*display: grid;*/
    /**/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-auto-rows: 1fr;*/
    /**/
    /*width: 100%;*/
    /*height: 100%;*/
}

.card-full {
    display: flex;
    flex-direction: column;
    padding: 4rem;

    & .card {
        --title-size: 6rem;
        --text-size: 5rem;
    }
}

.card {
    --title-size: 3rem;
    --text-size: 1.9rem;
    border: var(--green) solid 8px;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;


    & .content {
        padding: 1rem;

        & p {
            font-size: 3rem;
        }
    }

    & img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    & > h2, & > p {
        width: 100%;
        border-bottom: 3px solid var(--green);
    }

    & h2 a {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    & nav.header-nav {
        border-bottom: 3px solid var(--green);
        padding-inline: 1rem;

        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;

        & * {
            font-size: 2.5rem !important;
        }

        & h2 {
            font-size: 4rem !important;
            margin-inline: auto;
            text-align: center;
        }

        & #nav-previous {
            grid-column: 1;
            grid-row: 1;
            text-align: start;
            font-size: 4rem !important;
        }

        & #nav-next {
            font-size: 4rem !important;
            grid-column: 3;
            grid-row: 1;
            text-align: end;
        }

        & #nav-back {
            grid-column: 1;
            grid-row: 2;
            text-align: start;
            margin-top: auto;
        }

        & p {
            grid-column: 2/ -1;
            grid-row: 2;
            margin-top: auto;
            white-space: nowrap;
            text-align: end;
            width: 100%;
        }
    }
}

.card.clickable {
    cursor: pointer;

    & * {
        pointer-events: none;
    }

    & a {
        pointer-events: all;
    }
}

.card.hover {
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.card.hover:hover {
    /*transform: scale(1.2);*/
}

.card.hover::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 20px 20px 0px rgb(30, 30, 30, 0.8);
    transition: opacity 0.3s ease-in-out;
}

.card.hover:hover::after {
    opacity: 1;
}

.card .img-md {
    margin-inline: 10rem;
    margin-block: 5rem;
    border: var(--border-thin);
    border-width: 4px;
}

.card h2 {
    font-size: var(--title-size);
    -webkit-text-stroke: 0.35px;
    text-align: center;
}

.card p {
    text-align: center;
    font-size: var(--text-size);
}

.card .post-spacer {
    opacity: 0.5;
}