@media screen and (min-width: 1225px) and (max-width: 1430px) {
    #site-nav {
        --nav-gap: 0.5rem;
    }
}

/* CSS enabled in responsive mode */
@media screen and (max-width: 1225px) {
    body {
        grid-template-columns: 2rem 1fr;
    }

    #site-nav {
        background-color: var(--green);
        padding: 0.25rem;
    }

    #site-header {
        background-color: var(--green);
        padding: 0.25rem;
    }
}

/* CSS disabled in responsive mode */
@media screen and (min-width: 768px) {
    /*body > nav {*/
    /*    visibility: hidden;*/
    /*    display: none;*/
    /*}*/

    .navigation-hint {
        visibility: hidden;
        display: none;
    }
}