@media screen and (max-width: 1380px) {
    .nav-item {
        font-size: 1.5rem !important;
    }
}

/* CSS enabled in responsive mode */
@media screen and (max-width: 1225px) {
    :root {
        --border-thin-size: 10px;
    }

    .tape-wrapper {
        --tape-size: 3rem;
    }

    input[type="checkbox"]#header-checkbox:checked ~ .layout-wrapper {
        --nav-width: var(--nav-full-width) !important;
    }

    .layout-wrapper {
        --nav-full-width: 80vw;
        --pullout-width: var(--pullout-collapsed-width);
        --nav-width: var(--nav-collapsed-width);
    }

    input[type="checkbox"]#header-checkbox {
        display: none;
    }

    label.header-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 4rem;
        height: 100vh;
        z-index: 1;
    }

    #site-header {
        /*display: none;*/
        background-color: var(--green);
        padding: 0.25rem;
        position: relative;
    }

    .header-toggle {
        opacity: 1;
    }

    .header-control {
        opacity: 1 !important;
        transform: translateX(0%);
        pointer-events: none;
    }

    .card h2 {
        font-size: 1.75rem;
    }

    .card p {
        font-size: 1.35rem;
    }

    .card-grid {
        padding: 1.5rem;
        justify-content: flex-start;
    }

    /*    & .header-content {*/
    /*        opacity: 0;*/
    /*    }*/
    /*    */
    /*}*/
    /*& #header-checkbox:checked ~ .layout-wrapper {*/
    /*    grid-template-columns: var(--nav-width-lg) 1fr;*/
    /*}*/
}