/**
  * tape.css
 **/

/** Individual tickertape properties **/
/** (note: don't touch grid-column/row! these classes style children of the 'main' element, which is a display: grid.) **/
/**
    Modifiable properties:
        --duration: time unit, determines how long the scroll takes
        --initial: the initial position of the scroll, set to a negative number to be on the "left" or "top"
        --end: the final position of the scroll, set to a positive number to be on the "right" or "bottom"
**/
.tape {
    border-width: 10px !important;
}

.tape:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1;
    border-bottom: var(--border-thin);

    --duration: 30s; /** TODO fine-tune **/
    --initial: -370%; /** TODO fine-tune **/
    --end: 100%; /** TODO fine-tune **/
}

.tape:nth-of-type(2) {
    border-left: var(--border-thin);
    grid-column: 3;
    grid-row: 1 / -1;

    --duration: 30s; /** TODO fine-tune **/
    --initial: 100%; /** TODO fine-tune **/
    --end: -125%; /** TODO fine-tune **/
}

.tape:nth-of-type(3) {
    grid-column: 1 / 3;
    grid-row: 3;
    border-top: var(--border-thin);

    --duration: 30s; /** TODO fine-tune **/
    --initial: -100%; /** TODO fine-tune **/
    --end: 100%; /** TODO fine-tune **/
}

/** Tickertape vertical styling tweaks **/
/** Change scaleX/scaleY to change the 'kerning' / 'stretch' of the text **/
.tape:not(.vertical) .tape-inner p {
    font-size: calc(100px);
    transform: scaleY(1.475) scaleX(0.5); /** TODO fine-tune **/

}

.tape .tape-inner p {
    font-size: calc(100px);
    transform: scaleY(0.7) scaleX(1.48); /** TODO fine-tune **/
}

.tape-wrapper {
    width: 100%;
    height: 100%;

    --tape-size: 7rem;
    display: grid;
    grid-template-columns: var(--tape-size) 1fr var(--tape-size);
    grid-template-rows: var(--tape-size) 1fr var(--tape-size);

    transition: grid-template-columns 0.5s ease-in-out,
    grid-template-rows 0.5s ease-in-out;
}

.tape-wrapper > :not(.tape) {
    grid-column: 1 / 3;
    grid-row: 2;
}

/** Tickertape boilerplate code **/
/** (roughly don't ish touch) **/
.tape {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    --direction: 1;
    --duration: 10s;

    --initial: -100%;
    --end: 100%;

    --x-start: translateX(calc(var(--initial) * var(--direction)));
    --x-end: translateX(calc(var(--end) * var(--direction)));
    --y-start: translateY(calc(var(--initial) * var(--direction)));
    --y-end: translateY(calc(var(--end) * var(--direction)));

    --tape-start: var(--x-start);
    --tape-end: var(--x-end);
}

.tape::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 10px solid #104626;*/
    z-index: 1;
}

.tape.vertical {
    writing-mode: vertical-rl;
    --tape-start: var(--y-start);
    --tape-end: var(--y-end);
}

.tape:not(.vertical)::after {
    border-inline: none;
}

.tape.reverse {
    --direction: -1;
}

.tape-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    white-space: nowrap;
    z-index: 2;
}

.tape:not(.side) .tape-inner {
    animation: marquee var(--duration) linear infinite;
}

.tape.side .tape-inner {
    animation: marquee-side var(--duration) linear infinite;
}

@keyframes marquee {
    0% {
        transform: var(--tape-start);
    }
    100% {
        transform: var(--tape-end);
    }
}